<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>App HTML</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
            <div class="row">
                <div class="col-12 text=center text-white bg-dark p-5">
                    <p>Banner</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Col 1</p>
                </div>
                <div class="col-8">
                    <p>Col 2</p>
                </div>
            </div>
    </div>
    
    
</body>
</html>
